@{
    ViewBag.Title = "認證失敗";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header"></section>

        <section class="content">
            <h3>
                權限不足，或可能帳號登入時效已過，請改以正確帳號登入
                <a href="@Url.Content("~/Authentication/Login")" style="text-decoration:underline">Login</a>
            </h3>
        </section>
    </div>
</div>

