@{
    Layout = null;
}

<header class="main-header">
    <!-- Logo -->
    <div class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="../../image/index_logo.gif" style="width: 70%;"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="../../image/index_logo.gif" style="width: 20%;">
            @ViewBag.Title<br>Carrier Tracking Server
        </span>
    </div>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Sidebar toggle button-->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav"></ul>
        </div>
    </nav>
</header>