@{
    Layout = null;
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>@ViewBag.Title</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="../../theme/AdminLTE/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/font-awesome/font-awesome.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../theme/AdminLTE/dist/css/AdminLTE.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="../../theme/AdminLTE/dist/css/skins/_all-skins.min.css">

<!-- jQuery 2.1.4 -->
<script src="~/Scripts/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 , logout-->
<script src="../../theme/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE Ap, menu open/close -->
<script src="../../theme/AdminLTE/dist/js/app.min.js"></script>

<link href="~/Content/myCss.css" rel="stylesheet" />
<link href="~/Content/cart.css" rel="stylesheet" />
<link href="~/Content/typeaheadjs.css" rel="stylesheet" />
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/daterangepicker.css">

<!-- auto complete support -->
<script src="~/Scripts/typeahead.bundle.js"></script>
<!-- daterange picker -->
<script src="../../theme/AdminLTE/plugins/daterangepicker/moment.min.js"></script>
<script src="../../theme/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<!-- x-editable component, Note to include x-editable after core library (bootstrap, jquery-ui)!-->
<link href="../../plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
<script src="../../plugins/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<!-- date format -->
<script src="~/Scripts/jquery-dateFormat.min.js"></script>