@{
    Layout = null;
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>智慧巡檢管理系統</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta http-equiv="refresh" content="1200; URL=@Url.Action("Logout", "Authentication")">

<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="~/theme/AdminLTE/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/font-awesome/font-awesome.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/theme/AdminLTE/dist/css/AdminLTE.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="~/theme/AdminLTE/dist/css/skins/_all-skins.min.css">

<!-- jQuery 2.1.4 -->
<script src="~/Scripts/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 , logout-->
<script src="~/theme/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE Ap, menu open/close -->
<script src="~/theme/AdminLTE/dist/js/app.min.js"></script>
