@{
    ViewBag.Title = "智慧巡檢管理系統";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">新增展項通報</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">新增展項通報</h3>
                        </div>
                        <br />
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-2" for="exhibitionSelect">展示廳</label>
                                <select class="form-control" id="exhibitionSelect" style="width: 50%;">
                                    <option value="exhibition1">展示廳-1</option>
                                    <option value="exhibition2">展示廳-2</option>
                                    <option value="exhibition3">展示廳-3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="exhibitionSelect">展項</label>
                                <select class="form-control" id="exhibitionSelect" style="width: 50%;">
                                    <option value="exhibition1">展項-1</option>
                                    <option value="exhibition2">展項-2</option>
                                    <option value="exhibition3">展項-3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="exhibitionSelect">故障來源</label>
                                <select class="form-control" id="exhibitionSelect" style="width: 50%;">
                                    <option value="exhibition2">巡檢填單</option>
                                    <option value="exhibition2">6000填單</option>
                                    <option value="exhibition2">NM</option>
                                    <option value="exhibition1">通報按鈕</option>
                                    <option value="exhibition2">監控軟體</option>
                                    <option value="exhibition2">app</option>
                                    <option value="exhibition3">其它</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="exhibitionSelect">異常狀況</label>
                                <select class="form-control" id="exhibitionSelect" style="width: 50%;">
                                    <option value="exhibition1">異常狀況-1</option>
                                    <option value="exhibition2">異常狀況-2</option>
                                    <option value="exhibition3">異常狀況-3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="exhibitionSelect">通報者</label>
                                <select class="form-control" id="exhibitionSelect" style="width: 50%;">
                                    <option value="exhibition1">保全</option>
                                    <option value="exhibition2">志工</option>
                                    <option value="exhibition3">館員</option>
                                    <option value="exhibition3">其他</option>
                                </select>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success pull-left">確定新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

