
@{
    ViewBag.Title = "展示廳管理";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">展示廳管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">展示廳管理</h3>
                    </div>
                    <!-- form start -->

                    <form class="form-horizontal">
                        <div class="box-body">

                            <div class="col-md-6">
                                @*展示廳ID*@
                                <div class="form-group">
                                    <label for="ExhibitionID" class="col-sm-2 control-label">展示廳ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ExhibitionID" placeholder="展示廳ID">
                                    </div>
                                </div>

                                @*名稱*@
                                <div class="form-group">
                                    <label for="ExhibitionName" class="col-sm-2 control-label">名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ExhibitionName" placeholder="名稱">
                                    </div>
                                </div>

                                @*啟用*@
                                <div class="form-group">
                                    <label for="turnonState" class="col-sm-2 control-label">啟用</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="turnonState">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>

                                @*選擇樓層*@
                                <div class="form-group">
                                    <label for="selectFloor" class="col-sm-2 control-label">切換樓層</label>
                                    <div class="col-sm-3">
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <img src="https://metrouk2.files.wordpress.com/2017/02/ad_234711139.jpg?w=748&h=498&crop=1" class="img-responsive" alt="Responsive image">
                                </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">建立時間</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">1994/02/09</p>
                                    </div>
                                </div>

                                @*最後更新時間*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">最後更新時間</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">2017/02/09</p>
                                    </div>
                                </div>
                            </div>

                        </div><!-- /.box-body -->
                    </form>
                </div>


            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">展項新增</h3>
                    </div>
                    <div class="box-body">
                        <table id="infoExhibitItem" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>展項名稱</th>
                                    <th>建立日期</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAA</td>
                                    <td>2017-08-08 00:00:00</td>
                                    <td>

                                        @{/* TODO: redirec to correct place
                                           * Action(actionName, controller)
                                           */}
                                        <a href="@Url.Action("", "")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                        <a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此展項?刪除此展項會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#infoExhibitItem').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "40%", "orderable": true },
                { "targets": 1, "width": "40%", "orderable": true },
                { "targets": 2, "width": "20%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteExhibitionItem();
        });

        function deleteExhibitionItem() {
            @{/* TODO: use jquery AJAX method to send Message to Exhibition controller.
               */
            }
        }
    });
</script>
