@{
    ViewBag.Title = "新增人員";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">新增人員</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="" onsubmit="">
                        <div class="box-body">
                            <div id="nameDiv" class="form-group">
                                <label for="account" class="col-md-2 control-label">軟體代號</label>
                                <div class="col-md-10">
                                    <input id="account" type="text" class="form-control" name="account" placeholder="輸入軟體代號">
                                </div>
                            </div>
                            <div id="passwordDiv" class="form-group">
                                <label for="password" class="col-md-2 control-label">軟體名稱</label>
                                <div class="col-md-10">
                                    <input id="password" type="password" class="form-control" name="password" placeholder="輸入軟體名稱">
                                </div>
                            </div>
                            
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">確認新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/addUser.js"></script>
