
@{
    ViewBag.Title = "軟體版本檢視/修改";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">軟體版本管理</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">軟體版本管理</h3>
                    </div>
                    <!-- form start -->

                    <form class="form-horizontal">
                        <div class="box-body">

                            <div class="col-md-6">
                                @*軟體代號ID*@
                                <div class="form-group">
                                    <label for="deviceID" class="col-sm-2 control-label">軟體代號</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="exhibitItemID" placeholder="軟體代號">
                                    </div>
                                </div>

                                @*軟體名稱*@
                                <div class="form-group">
                                    <label for="deviceName" class="col-sm-2 control-label">軟體名稱</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="exhibitItemName" placeholder="軟體名稱">
                                    </div>
                                </div>



                                @*版本*@
                                <div class="form-group">
                                    <label for="turnOnState" class="col-sm-2 control-label">版本</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="exhibitItemName" placeholder="版本">
                                    </div>
                                </div>

                                @*說明*@
                                <div class="form-group">
                                    <label for="turnOnState" class="col-sm-2 control-label">說明</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="exhibitItemName" placeholder="說明">
                                    </div>
                                </div>


                                @*上傳檔案*@
                                <div class="form-group">
                                    <label for="fieldFigure" class="col-sm-2 control-label">上傳檔案</label>
                                    <input class="form-control-static" type="file" id="exampleInputFile">
                                </div>

                                @*建立時間*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">建立時間</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">1994/02/09</p>
                                    </div>
                                </div>

                                @*最後更新時間*@
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">最後更新時間</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">2017/02/09</p>
                                    </div>
                                </div> 

                            </div>

                            
                            


                        </div><!-- /.box-body -->
                    </form>
                </div>


            </div>
        </div>

    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此展項?刪除此展項會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#infoExhibitItem').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "40%", "orderable": true },
                { "targets": 1, "width": "40%", "orderable": true },
                { "targets": 2, "width": "20%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteExhibitionItem();
        });

        function deleteExhibitionItem() {
            @{/* TODO: use jquery AJAX method to send Message to Exhibition controller.
               */
            }
        }

        $('#lockState').on('click', function (e) {
            var btn = $(this),
                icon = btn.find('.glyphicon'),
                toggleClass = 'lockState';

            if (btn.hasClass(toggleClass)) {
                icon.removeClass('glyphicon-ok').addClass('glyphicon-remove');
                btn.removeClass('btn-primary').addClass('btn-danger');
            } else {
                icon.removeClass('glyphicon-remove').addClass('glyphicon-ok');
                btn.removeClass('btn-danger').addClass('btn-primary');
            }
            btn.toggleClass(toggleClass);
        });
    });
</script>