
@{
    ViewBag.Title = "軟體列表";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">軟體列表</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body">
                        <table id="infoFieldTable" class="row-border" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>軟體代號</th>
                                    <th>軟體名稱</th>
                                    <th>版本</th>
                                    <th>資料建立日期</th>
                                    <th>資料最後更改日期</th>
                                    <th>操作選項</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>AAA</td>
                                    <td>YOYOYO</td>
                                    <td>1.0.0</td>
                                    <td>2017-08-08 00:00:00</td>
                                    <td>2017-08-08 00:00:00</td>


                                    @*檢視按鈕*@
                                    <td>
                                        <a href="@Url.Action("", "")" class="btn btn-sm btn-primary">
                                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                                        </a>
                                    @*刪除按鈕*@
                                        <a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal>
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal modal-success" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">刪除確認</h4>
            </div>
            <div class="modal-body">
                <p>是否刪除此場域?刪除此場域會將一併刪除所有的相關資料。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">否</button>
                <button id="modalYes" type="button" class="btn btn-outline" data-dismiss="modal">是</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $('#infoFieldTable').DataTable({
            "paging": false,
            "info": false,
            "searching": false,
            "columnDefs": [
                { "targets": 0, "width": "18%", "orderable": true },
                { "targets": 1, "width": "18%", "orderable": true },
                { "targets": 2, "width": "10%", "orderable": true },
                { "targets": 3, "width": "18%", "orderable": true },
                { "targets": 4, "width": "18%", "orderable": true },
                { "targets": 5, "width": "18%", "orderable": true },
            ],
        });

        $('#modalYes').on('click', function (e) {
            deleteField();
        });

        function deleteField() {
            @{/* TODO: use jquery AJAX method to send Message to Information controller.
               */
            }
        }
    });
</script>
