@{
    ViewBag.Title = "智慧巡檢管理系統";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>歡迎使用智慧巡檢管理系統</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            請點選左邊選單進行功能操作。
        </section>
    </div>
</div>