@{
    ViewBag.Title = "待修清單";
}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">待修清單(未結案)</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-body">
                            <table id="userTable" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>通報人員</th>
                                        <th>故障日期時間</th>
                                        <th>完工日期時間</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>自動通報</td>
                                        <td>4F 交通夢想館</td>
                                        <td>飛行車</td>
                                        <td>不會動</td>
                                        <td>A8097</td>
                                        <td>2017-08-28 13:47:23</td>
                                        <td>2017-08-30 10:00:00</td>
                                        <td>
                                            <a href="@Url.Action("DetailedData", "MaintenanceWork")" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                                            @*<a href="#" class="btn btn-sm btn-danger" onclick="" data-toggle=modal data-target=#myModal><i class="glyphicon glyphicon-remove"></i></a>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/exhibition.js"></script>