@{
    ViewBag.Title = "維修綜合查詢";
    ViewBag.maintain = "active";
    ViewBag.maintainQuery = "active";
}
<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header" style="margin-bottom: 15px;">
            <ol class="breadcrumb">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>Home</a>
                </li>
                <li class="active">維修綜合查詢</li>
            </ol>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info" style="padding: 5px;">
                        <div class="box-header with-border">
                            <h3 class="box-title">篩選條件</h3>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2" for="startDateRangePicker">開始日期</label>
                                <div class="input-group col-md-8">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="startDateRangePicker">
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2" for="endDateRangePicker">結束日期</label>
                                <div class="input-group col-md-8">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="endDateRangePicker">
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2">通報來源</label>
                                <select class="form-control select2" id="reportSource" style="width: 50%;">
                                    <option value="">----請選擇一個通報來源----</option>
                                    @foreach (var item in ViewBag.reportSources)
                                    {
                                        <option value="@item.sourceId">@item.sourceName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label col-md-2">異常種類</label>
                                <select class="form-control select2" id="abnormalDefinition" style="width: 50%;">
                                    <option value="">----請選擇一個異常種類----</option>
                                    @foreach (var item in ViewBag.abnormalDefinition)
                                    {
                                        <option value="@item.abnormalId">@item.abnormalName</option>
                                    }
                                </select>
                            </div>
                            <div class="box-body">
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-success pull-left" id="query">查詢</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <!-- ExhibitionItem List-->
                        <div class="box-header">
                            <h3 class="box-title">維修列表-展項</h3>
                        </div>
                        <div id="ItemErrDiv" class="form-group has-error" style="display: none;">
                            <label id="itemErrMsg" class="col-sm-12">查無展項資料</label>
                        </div>
                        <div class="box-body">
                            <table id="MaintenanceList_Item" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>通報人員</th>
                                        <th>故障日期時間</th>
                                        <th>完工日期時間</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box box-info">
                        <!-- Experience List-->
                        <div class="box-header">
                            <h3 class="box-title">體驗設施維修列表</h3>
                        </div>
                        <div id="ExperienceErrDiv" class="form-group has-error" style="display: none;">
                            <label id="expErrMsg" class="col-sm-12">查無體驗設施資料</label>
                        </div>
                        <div class="box-body">
                            <table id="MaintenanceList_Experience" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>通報人員</th>
                                        <th>故障日期時間</th>
                                        <th>完工日期時間</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box box-info">
                        <!-- Other List-->
                        <div class="box-header">
                            <h3 class="box-title">維修列表-其他設施</h3>
                        </div>
                        <div id="OtherErrDiv" class="form-group has-error" style="display: none;">
                            <label id="otherErrMsg" class="col-sm-12">查無其他設施資料</label>
                        </div>
                        <div class="box-body">
                            <table id="MaintenanceList_Other" class="row-border" cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>通報來源</th>
                                        <th>展示廳</th>
                                        <th>展項/體驗設施</th>
                                        <th>異常情況說明</th>
                                        <th>通報人員</th>
                                        <th>故障日期時間</th>
                                        <th>完工日期時間</th>
                                        <th>詳細資料</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/MaintenanceQuery.js"></script>