@{
    ViewBag.Title = "展項正常率";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action(" Index", "Home" )"><i class="fa fa-dashboard"></i>Home</a>
            </li>
            <li class="active">展項正常率</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info" style="padding: 5px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">篩選條件</h3>
                    </div>
                    <div class="box-body row">
                        <div id="errDiv" class="form-group has-error" style="display: none;">
                            <label id="errMsg" class="col-sm-12">查無資料</label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-2" for="startDatePicker">開始日期</label>
                            <div class="input-group col-md-8">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="startDatePicker">
                            </div>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label col-md-2" for="endDatePicker">結束日期</label>
                            <div class="input-group col-md-8">
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="endDatePicker">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-1" for="exhibitionSelect">展示廳</label>
                            <select class="form-control" id="roomSelect" style="width: 40%;">
                                <option value="#">--請選擇展示廳--</option>
                                @foreach (var item in ViewBag.rooms)
                                {
                                <option value="@item.roomId">@item.roomName</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="control-label col-md-1" for="exhibitionItemSelect">展項</label>
                            <select class="form-control" id="itemSelect" style="width: 40%;" disabled></select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" onclick="query()">確定</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="row">
            <div class="col-xs-12">
                <h4>人工巡檢</h4>
                <div class="box" style="border-top-color: #0094ff;">
                    <div class="box-body">
                        <table id="manTable" class="row-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>巡檢項目個數</th>
                                    <th>正常個數</th>
                                    <th>正常率</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="row">
            <div class="col-xs-12">
                <h4>自動通報</h4>
                <div class="box" style="border-top-color: #0094ff;">
                    <div class="box-body">
                        <table id="autoTable" class="row-border" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>巡檢項目個數</th>
                                    <th>正常個數</th>
                                    <th>正常率</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    var startDate = null;
    var endDate = null;

    $(document).ready(function () {
        $('#manTable').DataTable({
            "paging": true,
            "info": false,
            "searching": true,
            "columnDefs": [
                { "targets": 0, "width": "25%", "orderable": true },
                { "targets": 1, "width": "25%", "orderable": true },
                { "targets": 2, "width": "25%", "orderable": true },
                { "targets": 3, "width": "25%", "orderable": true }
            ]
        });

        $('#autoTable').DataTable({
            "paging": true,
            "info": false,
            "searching": true,
            "columnDefs": [
                { "targets": 0, "width": "25%", "orderable": true },
                { "targets": 1, "width": "25%", "orderable": true },
                { "targets": 2, "width": "25%", "orderable": true },
                { "targets": 3, "width": "25%", "orderable": true }
            ]
        });

        // single Date picker
        $('#startDatePicker, #endDatePicker').datepicker({
            language: 'zh-TW',
            format: 'yyyy/mm/dd'
        }).on('changeDate', function (ev) {
            startDate = $('#startDatePicker').val();
            endDate = $('#endDatePicker').val();
            $('.datepicker').hide();
        });

        $('#roomSelect').change(function () {
            var val = this.value;
            $.get(
                'Items',
                {
                    roomId: val
                },
                function (data) {
                    if (data.length == 0) {
                        $('#itemSelect').html('<option value="#">展示廳中並無展項</option>');
                    } else {
                        $('#itemSelect').html('');
                        for (var item in data) {
                            $('#itemSelect').append('<option value="' + item.itemId + '">' + item.itemName + '</option>');
                        }
                    }
                    $('#itemSelect').prop('disabled', false);
                },
                'json'
            ).fail(function () {
                alert("Sorry! Amazing!");
            });
        });
    });

    function query() {
        if (startDate === null || startDate === "") {
            alert('請選擇開始日期!');
        } else if (endDate === null || endDate === "") {
            alert('請選擇結束日期!');
        } else if (endDate < startDate) {
            alert('結束日期不能比開始日期早');
        } else if ($('#roomSelect').val() === '#') {
            alert('請選擇展示廳');
        } else if ($('#itemSelect').val() === '#') {
            alert('請選擇展項');
        } else {
            setDispatchTable('man');
            setDispatchTable('auto');
        }
    }

    function setDispatchTable(type) {
        $.get(
            'QueryDispatch',
            {
                roomId: $('#roomSelect').val(),
                roomItem: $('#itemSelect').val(),
                startDate: startDate,
                endDate: endDate,
                type: type
            },
            function (data) {
                if (data !== "[]") {
                    for (var record in data) {
                        t.row.add([
                            record.dispatchTime,
                            record.total,
                            record.normal,
                            record.prob
                        ]).draw(false);
                    }
                    $('#errDiv').css('display', 'none');
                } else {
                    $('#errDiv').css('display', 'block');
                }
            },
            'json'
        ).fail(function () {
            //console.log(e);
            alert("抱歉! 伺服器無法接受您的查詢!");
        });
    }
</script>