@{
    ViewBag.Title = "新增群組";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">新增群組</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">新增群組</h3>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="@Url.Action("addGroup")" onsubmit="return formValidation();">
                        <div class="box-body">
                            <div id="nameDiv" class="form-group">
                                <label for="group" class="col-md-2 control-label">群組名稱</label>
                                <div class="col-md-10">
                                    <input id="group" type="text" class="form-control" name="group" placeholder="輸入群組名稱">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">確認新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/addGroup.js"></script>


