@model InspectionWeb.Models.ViewModel.GroupAddViewModel

@{
    ViewBag.Title = "新增群組";
}

<div class="content-wrapper">
    <section class="content-header" style="margin-bottom: 15px;">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">新增群組</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">新增群組</h3>
                    </div>
                    <!-- form start -->
                    <form class="form-horizontal" method="post" action="@Url.Action("AddUserGroup")" onsubmit="return formValidation();">
                        <div class="box-body">
                            @if (!string.IsNullOrEmpty(@Model.ErrorMsg))
                            {
                                <div class="form-group has-error">
                                    <label class="col-sm-2"></label>
                                    <label class="col-sm-10">@Model.ErrorMsg</label>
                                </div>
                            }
                            <div id="nameDiv" class="form-group">
                                <label for="groupName" class="col-md-2 control-label">群組名稱</label>
                                <div class="col-md-10">
                                    <input id="groupName" type="text" class="form-control" name="groupName" placeholder="輸入群組名稱">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right">確認新增</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        function fieldValidation(field) {
            if ($.trim($(field).val()) == '') {
                $(field + 'Div').addClass('has-error');
                $(field + 'Div').val('');
                return false;
            } else {
                $(field + 'Div').removeClass('has-error');
            }
            return true;
        }

        function formValidation() {
            if (fieldValidation('#groupName')) {
                return true;
            }
            return false;
        }
    });
</script>


