
@{
    ViewBag.Title = "ListRoomInspetionDispatch";
}
<!-- datepicker -->
<link href="../../Scripts/datepicker3.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/jquery-ui.min.js"></script>
<script src="../../Scripts/bootstrap-datepicker.js"></script>
<script src="../../Scripts/locales/bootstrap-datepicker.zh-TW.js"></script>
<!-- data table -->
<script src="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/jquery.dataTables.min.css">
<!-- column order -->
<script src="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="../../theme/AdminLTE/plugins/datatables/dataTables.bootstrap.css">
<script>

    function formValidation() {
        return false;
    }
    $(function () {
        setRoomInspectionTable();
        $('#dispatchDate').datepicker({
            format: "yyyy/mm/dd",
            language: 'zh-TW',
            todayHighlight: true
        })

    });
    function setRoomInspectionTable() {
        $('#roomInspectionTable').DataTable({
            'info': false,
            'columnDefs': [
                { 'targets': 0, 'width': "33%", 'orderable': false },
                { 'targets': 1, 'width': "33%", 'orderable': false },
                { 'targets': 2, 'width': "33%", 'orderable': false }
            ]
        });
    }
</script>



<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>展示廳派工</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-8">
                    <!-- general form elements -->
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <div id="dispatchDateDiv" class="form-group">
                                <div class="col-sm-1">
                                    <label for="dispatchDate" class="control-label">巡檢日期</label>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control pull-right" id="dispatchDate" name="dispatchDate">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-success">確定新增</button>
                                </div>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="roomInspectionTable" class="row-border" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>展示廳</th>
                                        <th>上午巡檢人員</th>
                                        <th>下午巡檢人員</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>items.abnormalCode</td>
                                            <td>items.abnormalName</td>
                                            <td>items.abnormalName</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.box -->
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->
