
@{
    ViewBag.Title = "QueryInspectionDispatchByDate";
}

<script>

    function formValidation() {
        return false;
    }

</script>



<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>巡檢查詢</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li><a>依展示廳</a></li>
                        <li><a>依體驗設施</a></li>
                        <li><a>依個人</a></li>
                        <li class="active"><a>依日期彙整結果</a></li>
                    </ul>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div><!-- ./wrapper -->
